bcrypt==4.0.1
DateTime==5.2
greenlet==3.0.0
markdown-it-py==3.0.0
mdurl==0.1.2
psycopg2-binary==2.9.9
pwinput==1.0.3
Pygments==2.16.1
python-dotenv==1.0.0
pytz==2023.3.post1
rich==13.6.0
SQLAlchemy==2.0.22
typing_extensions==4.8.0
zope.interface==6.1
